
<div class="row m-3 mt-3">
    <div class="col-md-4 text-right">
        <app-boutton-action (click)="saveInPdf()"></app-boutton-action>
    </div>
    <div class="card col-md-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">dateTran</th>
                <th scope="col">Libelle</th>
                <th scope="col">montant</th>
                <th scope="col">typeTransaction</th>
                <th scope="col">numero_Compte</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consult of listTransaction">
                <th scope="row">{{consult.id}}</th>
                <td>{{consult.dateCreation}}</td>
                <td>{{consult.libelleTran?.substring(0, 20) + '...'}}</td>
                <td>{{consult.montant}}</td>
                <td>{{consult.typeTransaction}}</td>
                <td>{{consult.compte?.numeroCpt}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>