<div class="row m-3">
    <div class="card col-md-5 text-center">
         <div class="col">
            <div class="mb-3 mt-3">
                <img src="assets/personne.png" class="rounded-circle" width="200px" heigth="200px"/>
            </div>
            <div class="mb-3">
                <h2>{{utilisateur.nom}}&nbsp;{{utilisateur.prenom}}</h2>
            </div>
         </div>
    </div>
    <div class="card col-md-7">
        <table class="table">
            <tbody>
              <tr>
                <th scope="row">Nom complet</th>
                <td>{{utilisateur.nom}}&nbsp;{{utilisateur.prenom}}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{utilisateur.couriel}}</td>
              </tr>
              <tr>
                <th scope="row">Mot de passe</th>
                <td>{{utilisateur.motDePasse?.substring(0, 20) + '...'}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div class="row m-3 mt-3 justify-content-center">
  <div class="card col-md-7">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Numero Compte</th>
          <td>{{compte.numeroCpt}}</td>
        </tr>
        <tr>
          <th scope="row">Type compte</th>
          <td>{{compte.typeCompte}}</td>
        </tr>
        <tr>
          <th scope="row">Code Pin</th>
          <td>{{compte.codePin?.substring(0, 20) + '...'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>