
<div class="row m-3 mt-3">
    <div class="col-md-4 text-right">
        <app-boutton-action></app-boutton-action>
    </div>
    <div class="card col-md-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">dateNaissance</th>
                <th scope="col">Adresse</th>
                <th scope="col">numero Tel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2024-05-25</td>
                <td>retrait de 15000</td>
                <td>58000</td>
                <td>COURANT</td>
                <td>FR5438463484</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>